<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="/update" method="POST">
        <table>
            <tr>
                <td><label>이름 변경</label></td>
                <td><label><input type="text" name="name" value=<%= name %>></label></td>
            </tr>
            <tr>
                <td><label>비밀번호 변경</label></td>
                <td><label><input type="password" name="password"></label></td>
            </tr>
            <tr>
                <td><label>비밀번호 재확인</label></td>
                <td><label><input type="password" name="password_check"></label></td>
            </tr>
            <tr>
                <td><button type="submit">수정</button></td>
            </tr>
        </table>
        <tr>
            <form action="/main" method="POST">
                <button type="submit" style="margin-top: 0.8%;">뒤로가기</button>
            </form>
        </tr>
    </form>
</body>
</html>